DB_NAME=postscore
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=
DB_PORT=5432
JWT_SECRET_KEY=your-secret-key-here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
SETUP_SECRET=your-setup-secret-here
ENVIRONMENT=development
